/* 
    Global CSS Styles. No Breakpoints.
*/

/* *** *** *** *** ***
Global Styles
[START] 
*** */
:root {
    --main-color: #6363FC;
    --main-color-alternativ: #01152e;
}
* {
    font-family: 'Sora', sans-serif !important;
}
body {
    background-color: #fff;
}
h1 {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 40px;
}
h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
h4 {
    line-height: 18px;
    margin-bottom: 12px;
    font-weight: 400;
}
h5 {
    font-size: 14px;
    margin-bottom: 14px;
    font-weight: 400;
}
h6{
    font-size: 12px;
    font-weight: 200;
}
p {
    font-weight: 200;
}

button:hover {
    cursor: pointer;
}
.logo-font {
    font-family: 'Lobster', cursive !important;
    font-family: 'Sora', sans-serif;
}
.text-color-main {
    color: var(--main-color);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}
.text-bold {
    font-weight: bold;
}
.text-opacity-low {
    color: #00000059;
}
.grid-x {
    margin-left: 60px;
    margin-right: 60px;
}
.grid-x-full {
    margin-left: 0;
    margin-right: 0;
}
.grid-x-box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 5px;
}
.grid-x-margin {
    margin-bottom: 80px;
}

tbody td, tbody th, tfoot td {
    font-size: 12px;
}

body[data-aos-easing="new-easing"] [data-aos], [data-aos][data-aos][data-aos-easing="new-easing"] {
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1) !important;
}

.animate__animated.animate__bounce,
.animate__animated.animate__slideInUp {
    --animate-duration: 0.35s;
}
/* 
Global Styles
[END] 
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .header-nav
*** */
.header-nav {
    background: #fff;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 70px;
    top: 0;
    padding-left: 320px;
    padding-right: 60px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.header-nav ul {
    display: flex;
    justify-content: end;
}
.header-nav ul li {
    list-style: none;
}
.header-nav li a {
    color: #000;
    display: flex;
    align-items: center;
    font-weight: 400;
}
.header-nav .header-item-user-settings-inner .header-item-user-bottom a {
    margin-top: 15px;
    white-space: nowrap;
}
.header-nav li a i {
    color: var(--main-color);
    font-size: 22px;
    margin-right: 25px;
}
.header-nav .header-nav-functions,
.header-nav ul,
.header-nav li {
    height: 100%;
}
.header-nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-nav .profile-image {
    max-width: 50px;
    max-height: 50px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.header-nav .header-item-user-top .person-name {
    letter-spacing: 1.5;
    display: block;
    white-space: nowrap;
}
.header-nav .header-item-user {
    display: flex;
    align-items: center;
}
.header-nav .header-item:hover {
    cursor: pointer;
}
.header-nav .header-item-user-settings-inner {
    background: #fff;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    z-index: 9999;
    border-bottom: 2px solid var(--main-color);
    box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
}
.header-nav .header-item-user-settings {
    position: absolute;
    right: 0;
    top: 50px;
}
.header-nav .header-item-inner {
    position: relative;
}
.header-nav .header-item-inner .header-dots-icon {
    margin-left: 10px;
}
.header-nav .header-item-user-top {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.header-nav .person-name {
    font-size: 14px;
    font-weight: 700;
}
.header-nav .person-email {
    font-size: 12px;
    font-weight: 300;
}
.header-nav .header-item-user-bottom {
    padding-top: 10px;
}
.header-nav .header-item-user-bottom {
    font-size: 14px;
    font-weight: 400;
}
.header-nav .header-item-user-settings {
    display: none;
    opacity: 0;
}
.header-nav .header-item-user .header-item-user-bottom p {
    white-space: nowrap;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eeee;
    font-size: 12px;
    font-weight: 300;
}
.header-nav .header-item-buttons a {
    font-size: 12px;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    margin-right: 15px;
}
.header-nav .header-item-buttons a i {
    margin-right: 10px;
}
.header-nav .header-item-buttons.active-button a {
    background-color: var(--main-color);
}
.header-nav .header-item-buttons.active-button a,
.header-nav .header-item-buttons.active-button i {
    color: #fff;
}
.header-nav .li-user-active {
    position: relative;
}
.header-nav .li-user-active::after {
    content: "";
    position: absolute;
    background: var(--main-color);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}
/* ***
[END] .header-nav
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .footer
*** */
.footer {
    
}
/* ***
[END] .footer
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .body-class
*** */
.body-class {
    margin-top: calc(50px + 60px);
    margin-left: 300px;
    z-index: 0;
    position: relative;
    /* overflow: hidden; */
}
/* ***
[END] .body-class
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .fixed-menu-left
*** */
.fixed-menu-left {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: var(--main-color);
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    overflow: hidden;
    height: 100%;
    /* border-radius: 0 20px 20px 0; */
    padding: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    /* margin-top: calc(50px + 60px); */
    /* margin-left: 20px; */
}
/* ***
[END] .fixed-menu-left
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .video-element
*** */
.video-element {
    position: relative;
    height: 100vh;
    z-index: 0;
}
.video-element::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--main-color);
    mix-blend-mode: lighten;
    opacity: 0.9;
}
.video-element video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* filter: grayscale(0.8); */
}
.video-element p {
    position: absolute;
    top: 0;
    z-index: 999;
    padding: 20px 30px;
    font-size: 60px;
    color: #fff;
}
/* ***
[END] .video-element
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .cell-login-form
*** */
.cell-login-form {
    position: relative;
}
.cell-login-form .login-form {
    position: absolute;
    width: 100%;
    top: 50%;
    left: -200px;
    transform: translateY(-50%);
    background: #fff;
    padding: 60px 45px;
    border-radius: 5px;
    box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
    border-bottom: 5px solid var(--main-color);
}
.cell-login-form .login-form .login-form-pre p {
    margin-bottom: 40px;
}
.cell-login-form .login-form form label {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
    display: inline-block;
}
.cell-login-form .login-form label input,
.cell-login-form [type=text],
.cell-login-form [type=password] {
    border-radius: 10px !important;
    padding: 10px !important;
    height: 50px !important;
}
.cell-login-form button {
    background: var(--main-color);
    color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    margin-top: 40px;
}
.cell-login-form .login-form-after {
    margin-top: 40px;
    text-align: center;
}
.cell-login-form .login-form-after p {
    font-size: 12px;
}
/* ***
[END] .cell-login-form
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .user-profile-info
*** */
.user-profile-info {
    text-align: center;
    margin-top: 40px;
}
.user-profile-info img {
    width: 120px;
    height: 120px;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    border-radius: 50%;
}
.user-profile-info * {
    color: #fff;
}
.user-profile-info .bio h3 {
    font-weight: 800;
    margin-top: 20px;
    font-size: 20px;
}
.user-profile-info .bio p {
    font-size: 12px;
}
/* ***
[END] .user-profile-info
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .left-menu-links
*** */
.fixed-menu-left-inner {
    height: 100%;
    position: relative;
}
.left-menu-links {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.left-menu-links a {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
.left-menu-links a i {
    margin-right: 10px;
}
.left-menu-links a:hover {
    opacity: 0.85 !important;
    transition: all 0.3s ease !important;
}
.left-menu-bottom {
    position: absolute;
    bottom: 80px;
    z-index: 999999;
    left: 0;
    width: 100%;
    text-align: center;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
}
.left-menu-bottom a {
    color: #000;
    /* color: var(--main-color); */
}
.left-menu-bottom a i {
    font-size: 20px;
    margin-right: 15px;
}
/* ***
[END] .left-menu-links
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .box-card
*** */
.card-box {
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 40px 20px;
    border-radius: 5px;
    max-width: 90%;
    height: 100%;
    position: relative;
    align-items: center;
    background-color: #fff;
}
.card-box i {
    font-size: 30px;
    margin-right: 20px;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 5px;
}
.card-box h3 {
    margin-bottom: 5px;
}
.card-box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    animation-name: cardBoxPercentage;
    animation-delay: 0.35s;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-fill-mode: forwards;
    animation-duration: 0.35s;
}
.card-box .card-box-percentage-circle {
    position: absolute;
    bottom: -10px;
    left: 48%;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    padding-top: 8px;
    opacity: 0;
    transform: translateX(-10%);
    animation-name: cardBoxShowPercentageBubble;
    animation-delay: 0.55s;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-fill-mode: forwards;
    animation-duration: 0.35s;
    z-index: 999;
}
.card-box .card-box-percentage-circle p {
    font-size: 8px;
    color: #fff;
    font-weight: 600;
}
@keyframes cardBoxPercentage {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
@keyframes cardBoxShowPercentageBubble {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.chart-custom {
    margin-top: 40px;;
}
.chart-custom svg {
    border-radius: 5px;
}
/* ***
[END] .box-card
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .table-box
*** */
.table-box {
    margin-bottom: 20px;
}
.table-box tfoot {
    position: relative;
    
}
.table-allocations-percentages {
    display: flex;
}
.table-allocations-percentages p {
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    padding: 5px;
}
.table-allocations-percentages .table-internal-allocation {
    background-color: aquamarine;
    margin-right: 10px;
}
.table-allocations-percentages .table-external-allocation {
    background-color: greenyellow;
}
.table-box-after .int-time,
.table-box-after .ext-time {
    position: relative;
    padding-left: 20px;
}
.table-box-after .int-time::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: aquamarine;
    left: 0;
    top: 3px;
    border-radius: 100%;
}
.table-box-after .ext-time::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    left: 0;
    top: 3px;
    border-radius: 100%;
}
/* ***
[END] .table-box
*** *** *** *** *** */

/* *** *** *** *** ***
[START] .cell-widget-right 
*** */
.cell-widget-right {
    padding-left: 20px;
}
.cell-widget-right .card-box-widget {
    padding: 20px;
    border-radius: 5px;
    height: calc(100% - 80px);
    border-left: 2px solid #f1f1f1;   
}
.cell-widget-right .settings-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
}
/* ***
[END] .cell-widget-right 
*** *** *** *** *** */